<footer class="w">
    <div class="footer_info">
        <p class="copyright">
            2020&nbsp;&copy;&nbsp;<a href="/index">Megrax</a>
        </p>
        <p class="beian">
            <a href="https://beian.miit.gov.cn/">浙ICP备20017337号</a>
        </p>
    </div>
</footer>