<!DOCTYPE html>
<html lang="zh-CH">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- 头部模块 -->
    <header>
        <h1>
            <a href="index.html">Megrax's Blog</a>
        </h1>
    </header>

    <!-- 中部导航栏模块 -->
    <%- include('./partials/top_nav.ejs') %>

    <!-- 主体模块 -->
    <section class="w clearfix">
        <!-- 边栏模块 -->
        <aside class="left">
            <ul>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Life</a></li>
                <li><a href="#">Literature</a></li>
                <li>访问信息统计</li>
            </ul>
        </aside>
        <!-- 博文列表展示 -->
        <div class="posts w">
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <div class="a_post">
                <h2><a href="posts/post.html">这是一篇博文</a></h2>
                <div class="date">2020.9.27</div>
            </div>
            <!-- 置顶按钮 -->
            <button type="button" onclick="backTop();" class="home iconfont clearfix">&#xe648;</button>
    </section>

    <!-- 底部模块 -->
    <%- include('./partials/footer.ejs'); %>

</body>

</html>